{% extends 'leads/base.html' %}
 

{% block content %}

{{ agent }}
<p>The agent details are:</p>
<a href='{% url "agent:leads_list" %}'>Go Back</a>
<div>
    <li>NAME: {{ agent.first_name}} {{agent.last_name}}</li>
    <li>AGE: {{ agent.age}}</li>
    <li>The Lead responsible for the agent is: {{ agent.lead }}</li>
    <br>
    <a href="{% url 'agents:agent_delete' agent.pk %}">Delete Agent</a>
    <br></br>
    <a href="{% url 'agents:agent_update' agent.pk %}">Update Agent</a>
</div>
{% endblock content %}